<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

	 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
  <add name="ShopDB" connectionString="data source=RDPWINDOWS\SQLEXPRESS;&#xD;&#xA;                         initial catalog=ShopDB;&#xD;&#xA;                         user id=ADMIN;&#xD;&#xA;                         password=0000;&#xD;&#xA;                         trustservercertificate=True;&#xD;&#xA;                         MultipleActiveResultSets=True;&#xD;&#xA;                         App=EntityFramework"
   providerName="System.Data.SqlClient" />
  <add name="ShopProductManagerApp.Properties.Settings.ShopDBConnectionString"
   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ShopDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="ShopProductManagerApp.Properties.Settings.ShopDBConnectionString1"
   connectionString="Data Source=DESKTOP-MTKB0QR\SQLEXPRESS;Initial Catalog=ShopDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
